@import url(normalize.css);





:root {
    --color-heading: #000;
    --color-body: #616060;
    --color-body-darker: #3b3b3b;
    --color-primary: #F0EEED;
    --color-primary-darker: #e6e6e6;
    --color-secendary: #F0F0F0;
    --color-accend: #000;
    --color-accend-lighter:  #000000db;
}

 *, *::after, *::before {
    box-sizing: border-box;
 } 

 /** typography  **/

 
 html {
    font-size: 62.5%;
 }

h1,
h2
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--color-heading);
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3.2rem;
}
h3 
{
    font-size: 2.4rem;
    font-family:  'Inter', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--color-heading);
}

body {
    font-size: 1.4rem;
    color: var(--color-body);
    font-family: 'Inter', Arial, Helvetica, sans-serif;

}
a {
    text-decoration: none;
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6.4rem;
    }
    h2 {
        font-size: 4.8rem;
    }
    h3 {
        font-size: 3.6rem;
    } 

    body {
        font-size: 1.6rem;
        
    }
    
}

/** buttons **/


.btn {
    border: 0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 62px;
    padding: 16px 54px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.btn--accend {
    color: white;
    background-color: var(--color-accend);
    transition: all 0.15s;
}
.btn--accend:hover {
    background-color: var(--color-accend-lighter);
}
.btn--outline {
    color: #000;
    border: 2px solid #E6E6E6;
    transition: all 0.15s;
}
.btn--outline:hover {
    border: 2px solid #bababa;
}
.btn--primary {
    background-color: var(--color-primary);
    transition: all 0.15s;
}
.btn--primary:hover {
    background-color: var(--color-primary-darker);
}
.btn--block {
  display: block;
}
.btn--small {
    padding: 10px 20px;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
    }
    .btn--small {
        padding: 12px 24px;
    }
    
}

/** badges **/ 

.badge {
    font-size: 1rem;
    border-radius: 62px;
    padding: 3px 12px;
    font-weight: 500;
}
.badge--sale {
    color: #ff3333;
    background-color: #FFEBEB;
}
@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.6rem;
        padding: 6px 14px;
    }
    
}